TZ=America/New_York

GHCR_USERNAME=
GHCR_TOKEN=

DO_REGION=nyc3
DO_SIZE=s-1vcpu-2gb
DO_IMAGE=ubuntu-22-04-x64

DO_TOKEN=
DO_SSH_KEY_ID=

TO_ADDRESSES=
FROM_ADDRESS=

AWS_SES_REGION_NAME=us-east-1
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
